{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid padding text-center">
        <div class="row">
            <div class="offset-3 col-6">
                <h3 class="text-center">«Наша миссия заключается в предоставлении энергоэффективных решений, способствующих устойчивому развитию экологически чистого будущего»</h3>
            </div>
        </div>
    </div>

    <div class="container-fluid padding">
        <div class="row">

        </div>
    </div>

    <!-- Block about -->
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="offset-lg-2 col-lg-4">
                <h2 class="text-center">О НАС</h2>
                <br><p>Компания ООО «ЛЭП-Сервис» была основана в 2008 году.
                    Ключевое направление развития бизнеса – заключение энергосервисных контрактов и проведение модернизации оборудования Заказчика.</p>
                <p><b>Энергосервисный контракт</b> – форма договора, по которому энергосервисная компания за собственные средства проводит комплекс работ, направленных на энергосбережение и повышение энергетических ресурсов, а Заказчик оплачивает услуги энергосервисной компании за счет полученной экономии. Дополнительных расходов из бюджета Заказчика, как правило, не требуется.</p>
                <p><b>Энергоэффективные решения </b> реализуются в различных областях:
                    <br>   – уличное освещение муниципальных образований;
                    <br>       – внутреннее промышленное освещение;
                    <br>      – системы отопления;
                    <br>      – системы водоотведения и водопотребления;
                    <br>      – системы вентиляции и кондиционирования.
                </p>

            </div>
            <div class="col-lg-4">
                <br>
                <img src="{% static 'images/О-НАС-на-сайт-1620x1080.jpg' %}" alt="" class="img-fluid">
            </div>
            <div class="row padding">
                <div class="offset-2 col-8">
                    <p>ООО «ЛЭП-Сервис»:</p>
                    <p>1. Внедряет высокотехнологичные решения в сфере энергоэффективности</p>
                    <p>2. Предлагает комплексные решения для муниципальных образований, объектов инфраструктуры, промышленности.</p>
                    <p>3. Опирается на партнерские отношения с ведущими финансово-банковскими учреждениями России; лучшими производителями энергосберегающего оборудования в России.</p>
                    <p>4. Участвует в модернизации осветительных систем как городов и населенных пунктов, так и промышленных, торговых зданий.</p>
                    <p>5. Поможет получить максимальную экономию и улучшить качество наружного и внутреннего освещения.</p>
                    <p>6. Детально прорабатывает проекты по модернизации наружного и внутреннего освещения: обследование, анализ объемов экономии энергии и финансов, экономические расчеты, контроль и проверку достигнутого уровня освещенности, а также монтаж и установку «под ключ» осветительных систем, профессиональное управление проектами.</p>
               </div>
            </div>

        </div>
    </div>

        <!-- Block param -->
    <div class="container-fluid padding" >
        <div class="row text-center padding">
            <div class="col-12 text-center pt-4">
                <h3 >ПОЧЕМУ ВЫБИРАЮТ НАС</h3>
            </div>
            <div class="col-xs-12 clos-sm-6 col-md-3">
                <i class="fas fa-code"></i>
                <p> <b>Положительный опыт</b>  </p>
                <p>Более 10 лет мы ежегодно реализуем множество значимых проектов различного уровня сложности и масштаба для десятков муниципальных образований и компаний</p>
            </div>
            <div class="col-xs-12 clos-sm-6 col-md-3">
                <i class="fas fa-bold"></i>
                <p> <b>Партнерство на перспективу</b>  </p>
                <p>Компания строит доверительные и честные отношения с участниками рынка, представляя себя как надежного бизнес-партнера и укрепляя имидж стабильно развивающейся энергосервисной компании</p>
            </div>
            <div class="col-xs-12 clos-sm-6 col-md-3">
                <i class="fab fa-css3"></i>
                <p> <b>Качество и сервис</b>  </p>
                <p>Удерживать высокие позиции нам удается за счет высокого качества предоставляемых сервисов и управленческих решений</p>
            </div>
            <div class="col-xs-12 clos-sm-6 col-md-3">
                <i class="fab fa-css3"></i>
                <p> <b>Высокая компетенция</b>  </p>
                <p>Накопленная экспертиза в сфере инжиниринга и консалтинга позволяет компании реализовывать инвестиционные проекты в области энергетики на всех стадиях – от инвестиционного замысла до эксплуатации</p>
            </div>

        <hr class="my-4">
    </div>

{% endblock %}

