{% extends 'landing/base.html' %}
{% load staticfiles %}


{% block content %}


    <div class="container-fluid">
        <div class="row padding">
            <div class="col-6">
                <div class="carousel slide detail" data-ride="carousel" id="slides">
                    <ul class="carousel-indicators">
                        <li data-target="#slides" data-slide-to="0" class="active"></li>
                        <li data-target="#slides" data-slide-to="1"></li>
                        <li data-target="#slides" data-slide-to="2"></li>
                    </ul>
                    <div class="carousel-inner detail">
                        {% for i in context.postimage_set.all %}
                             <div class="carousel-item {% if i.status == True  %} active {% endif %}">
                                <img src="{{ i.img.url }} " alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-6">
               <h3>Данные об объекте:</h3> <br>


                <p> Наименование объекта:   {{ context.title }}</p>
                <p> Дата выполнения энергосервисных мероприятий: {{ context.workoff_date }}</p>
                <p> Описание: {{ context.text }}</p>
                <p> </p>
            </div>

        </div>
    </div>




{% endblock %}